.section{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5rem 1rem;
    border-radius: .5rem;
    overflow: hidden;
    background-color: $dark-desaturated-blue;

    @include breakpoint-up(medium){
        max-width: 520px;
    }

    @include breakpoint-up(large){
        grid-template-columns: repeat(2, 1fr);
        max-width: 1080px;
        max-height: 410px;
    }

    &__img{
        grid-row-end: none;
        background: linear-gradient(
            $soft-violet, 
            $soft-violet
        );
        filter: brightness(0.8) contrast(1.5);

        &>picture>img{
            opacity: .5;
        }
        @include breakpoint-up(large){
            grid-row-end: auto;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        text-align: center;
        

        @include breakpoint-up(large){
            justify-content: space-around;
            padding: 2rem 7rem 2rem 4rem;
            text-align: left;
        }

        &__title{
            font-size: 32px;
            color: $white;
            

            &>span{
                color: $soft-violet;
            }
        }
        &__desc{
            font-family: $font-family2;
            margin: 0;
            padding: 0rem 1.6rem;
            font-size: $font-md;
            line-height: 1.7rem;

            @include breakpoint-up(large){
                padding: 0;
            }
        }
        &__stats{
            display: flex;
            flex-direction: column;
            gap:2rem;
            padding: 3rem 1rem;

            @include breakpoint-up(large){
                flex-direction: row;
                justify-content: space-between;
                gap: 2rem;
            }

            &__container{
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
            &__number{
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 700;
                color: $white;
            }
            &__label{
                text-transform: uppercase;
                font-family: $font-family1;
            }
        }
    }
}