.section{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5rem 1rem;
    border-radius: .5rem;
    overflow: hidden;
    background-color: $dark-desaturated-blue;

    @include breakpoint-up(medium){
        max-width: 520px;
    }

    @include breakpoint-up(large){
        grid-template-columns: repeat(2, 1fr);
        max-width: 1080px;
    }

    &__img{
        grid-row-end: none;
        background: linear-gradient(
            $soft-violet, 
            $soft-violet
        );

        &>picture>img{
            mix-blend-mode: multiply;
            opacity: 0.8;
        }
        @include breakpoint-up(large){
            grid-row-end: auto;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        padding: 2rem 1rem;
        

        @include breakpoint-up(large){
            gap: 1.5rem;
            padding: 4rem 6rem 4rem 3rem;
            text-align: left;
        }

        &__title{
            font-size: 29px;
            color: $white;
            margin: 0;
            

            &>span{
                color: $soft-violet;
            }

            @include breakpoint-up(large){
                font-size: 37px;
            }
    
        }
        &__desc{
            font-family: $font-family2;
            margin: 0;
            padding: 0rem 1rem;
            font-size: $font-md;
            line-height: 1.7rem;

            @include breakpoint-up(large){
                padding: 0;
            }
        }
        &__stats{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0;
            margin: auto 0 0 0;

            @include breakpoint-up(large){
                flex-direction: row;
                gap: 4rem;
            }

            &__container{
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
            &__number{
                margin: 0;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 700;
                color: $white;
            }
            &__label{
                margin: 0;
                text-transform: uppercase;
                font-family: $font-family1;
            }
        }
    }
}